{% extends 'base.html.twig' %}

{% block title %}Card list{% endblock %}

{% block body %}

    <div class="d-flex flex-row container-fluid bg-darkgrey
    {% if cards|length <= 4 %} vh-sm-100{% elseif cards|length >= 5 %} h-sm-100{% endif %}
    {% if cards|length <= 8 %} vh-md-100{% elseif cards|length >= 9 %} h-md-100{% endif %}
    {% if cards|length <= 6 %} vh-lg-100{% elseif cards|length >= 7 %} h-lg-100{% endif %}
    ">
    

        {% include "card_explorer/side_bar.html.twig" %}

        <div class="content p-2">

            {% include "card_explorer/header_content.html.twig" %}


            <div class="cards-content row gx-0">

            {% for card in cards %}
                <figure class="figure col-6 col-md-3 col-lg-2">
                    <img src= {{ asset('build/images/cards-upload/'~card.image)}} class="img-fluid" alt="...">
                    <figcaption class="figure-caption text-center text-white fw-bold p-1 ps-3">{{card.class}} - {{card.part}}</figcaption>
                </figure>
            {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}

