{% extends 'base.html.twig' %}

{% block body %}
<div class="header-content pb-3">

    <button id="btn-sidebar" class="btn btn-secondary bg-dark fixed fw-bold collapse collapse-horizontal show d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-expanded="false" aria-controls="collapseExample">>></button>             
    <div class="text-white text-decoration-underline fs-3 ms-5">
    {% if cards|length > 0 %}Matched {{ cards|length }} Cards for :</div>
    {% else %}No card found for :</div>
    {% endif %}

    {% if queriesFilters is defined %}
    <ul class="d-flex flex-wrap text-black m-1 ms-5">
        {% for key, query in queriesFilters %}
            {% for value in query %}

            <li class="list-query rounded px-2 m-1">

            {% for keyz, property in query %}
                
            {% if keyz == "cost" or "damage" or "shield" or "heal"%}
            {{keyz}}: {{value}}</li>
            {% else %}
            {{value}}</li>
            {% endif %}
            
            {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul> 
    {% endif %}

</div>
{% endblock %}